<nav class="navbar fixed-top navbar-expand" [class.sticky]="isSticky">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
<p>header works!</p>
