$NavItemMargin: 40px;

.navbar {
   padding-block: 2.3rem;
   height: 0;
   transition: all 0.25s ease-out;
}
 
.nav-link {
   position: relative;
   font-weight: 600;
   font-size: 1.3rem;
   color: white
}

.nav-link::after {
   content: "";
   position: relative;
   bottom: 0px;
   display: block;
   left: 0;
   height: 4px;
   width: 0;
   background: #2f5ddb;
   border-radius: 16px;
   transition: width 0.5s ease
}

.navbar-nav {
   padding-left: 2rem
}

.nav-item {
   margin-left: $NavItemMargin
}

.nav-link:hover::after {
   width: 100%
}

.sticky {
   padding-block: 2rem;
   background-color: #1b376ca9;
   box-shadow: 0 10px 30px -10px rgba(51, 42, 170, 0.7);
   backdrop-filter: blur(5px) !important 
}

button {
   margin-right: $NavItemMargin
}

