
  <div class="d-flex flex-column justify-content-center">
    <!-- background canvas -->
    <canvas id="canvas" class="background-canvas"></canvas>
    <div class="content d-flex flex-column justify-content-center">
      <!--  home main elements-->
      <!--  presentation section  -->
      <div class="d-flex justify-content-around wrapper">
        <div class="presentation">
          <!--  overview: name and presentation  -->
          <div class="overview" data-aos="fade-down" data-aos-duration="3000" data-aos-easing="linear">
            <p>{{"hey" | translate}}</p>
            <h1 class="gelatine">
          <span *ngFor="let letter of ('name' | translate).split()">
            {{letter}}
          </span>
            </h1>
            <p>{{"overview-text" | translate}}</p>
          </div>
          <!--    links      -->
          <div class="links d-flex justify-content-between" data-aos="fade-down" data-aos-duration="3000" data-aos-easing="linear">
            <!--   linkedin     -->
            <a [href]="'links.linkedin' | translate">
              <div class="pulse p-0 m-2">
                <fa-icon [icon]="faLinkedin" class="fa-4x linkedin"></fa-icon>
              </div>
            </a>
            <!--     github       -->
            <a [href]="'links.github' | translate">
              <div class="pulse p-0 m-2">
                <fa-icon [icon]="faGithub" class="fa-4x github"></fa-icon>
              </div>
            </a>
          </div>
        </div>
        <!--   illustration     -->
        <object data="./assets/welcome.svg"></object>
      </div>
      <!--  mouse    -->
      <div class="m-auto">
        <app-mouse/>
      </div>
    </div>
</div>
<!-- Projects section -->
<app-projects id="projects"></app-projects>
<hr class="border border-primary-subtle w-50 m-auto">
<!--  about section -->
<app-about id="about"/>
  <!-- Contact section -->
<app-contact id="contact"/>
