
<div class="home-container">

  <div class="content">
    <!-- background canvas -->
    <canvas id="canvas" class="background-canvas"></canvas>
    <!--  home main elements-->
    <div class="presentation">
      <div class="overview">
        <p>{{"hey" | translate}}</p>
        <h1 class="gelatine">
          <span *ngFor="let letter of ('name' | translate).split()">
            {{letter}}
          </span>
<!--          <span>S</span> <span>a</span> <span>i</span> <span>d</span> <span>i </span> <span>A</span> <span>b</span> <span>d</span>-->
<!--          <span>e</span> <span>n</span> <span>n</span> <span>a</span> <span>c</span> <span>e</span> <span>r</span>-->
        </h1>
        <p>{{"overview-text" | translate}}</p>
      </div>
      <div>Buttons Here</div>
    </div>
    <object data="./assets/welcome.svg"></object>
  </div>

</div>

