$orbitPathScale: 2.8;
$orbitAngle: 60deg;
$skillSvgScale: 3;

.sec-skills {
  $self: &;

  /* Container for the orbiting skills animation */
  &__showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX($orbitAngle); // Gives the illusion of the orbit angle
    transform-style: preserve-3d; // preserves all the content within this (skills) as 3D

    /* Hidden orbit path of skills around the HTML image */
    #{$self}__skill-orbit-path {
      position: relative;
      width: calc(300px * #{$orbitPathScale});
      height: calc(300px * #{$orbitPathScale});
      border-radius: 100%;
      transform-style: preserve-3d;
      animation: spin-right 30s linear infinite;

      /* Skills image counter rotation to keep upright */
      #{$self}--skill-rotate {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateX(-95deg);
        transform-style: preserve-3d;
        animation: spin-left 30s linear infinite;
      }

      #{$self}--skill-rotate > svg {
        transform: scale($skillSvgScale);
      }

      #{$self}__skill-0 {
        bottom: 0;
        left: 50%;
      }

      #{$self}__skill-1 {
        bottom: 5%;
        left: 22%;
      }

      #{$self}__skill-2 {
        bottom: 25%;
        left: 5%;
      }

      #{$self}__skill-3 {
        bottom: 50%;
        left: 0;
      }

      #{$self}__skill-4 {
        top: 25%;
        left: 5%;
      }

      #{$self}__skill-5 {
        top: 5%;
        left: 25%;
      }

      #{$self}__skill-6 {
        top: 0;
        left: 50%;
      }

      #{$self}__skill-7 {
        top: 5%;
        right: 25%;
      }

      #{$self}__skill-8 {
        top: 25%;
        right: 5%;
      }

      #{$self}__skill-9 {
        top: 50%;
        right: 0;
      }

      #{$self}__skill-10 {
        bottom: 25%;
        right: 5%;
      }

      #{$self}__skill-11 {
        bottom: 5%;
        right: 22%;
      }
    }

    /* Center the HTML image at the center of orbit */
    #{$self}__skill-title {
      position: absolute;
      transform: rotateX(-$orbitAngle);
      h2 {
        font: 300 3.5em/1 courier;
        font-weight: bold;
        color: aqua;
      }
    }
  }

  /* ---------- Animation ---------- */
  @keyframes spin-right {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  @keyframes spin-left {
    0% {
      transform: rotateX(-90deg) rotateY(-360deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
  }
}




// Brand Colors
$fa-android: #a4c639;
$fa-codepen: #000;
$fa-css3-alt: #1680C0;
$fa-git: #333;
$fa-html5: #e34f26;
$fa-linux: #333333;
$fa-medium: #000;
$fa-slack: #0f7965;
$fa-stack-overflow: #e86a0a;
$fa-trello: #256a92;
$fa-wordpress: #21759b;



.fa-brands {
  &.fa-android {
    color: $fa-android;
  }

  &.fa-codepen {
    color: $fa-codepen;
  }

  &.fa-css3-alt {
    color: $fa-css3-alt;
  }

  &.fa-git {
    color: $fa-git;
  }

  &.fa-html5 {
    color: $fa-html5;
  }

  &.fa-linux {
    color: $fa-linux;
  }

  &.fa-medium {
    color: $fa-medium;
  }

  &.fa-slack {
    color: $fa-slack;
  }

  &.fa-stack-overflow {
    color: $fa-stack-overflow;
  }

  &.fa-trello {
    color: $fa-trello;
  }

  &.fa-wordpress {
    color: $fa-wordpress;
  }

  &.fa-react {
    color: #61DAFB;
  }

  /* Couleur pour l'icône Angular */
  &.fa-angular {
    color: #B52E31;
  }

  /* Couleur pour l'icône Java */
  &.fa-java {
    color: #007396;
  }

  /* Couleur pour l'icône JavaScript */
  &.fa-js {
    color: #F7DF1E;
  }

  /* Couleur pour l'icône Python */
  &.fa-python {
    color: #3776AB;
  }

  /* Couleur pour l'icône Ruby */
  &.fa-ruby {
    color: #CC342D;
  }

  /* Couleur pour l'icône React */
  &.fa-react {
    color: #61DAFB;
  }

  /* Couleur pour l'icône Vue.js */
  &.fa-vuejs {
    color: #41B883;
  }

  /* Couleur pour l'icône Node.js */
  &.fa-node-js {
    color: #339933;
  }

  /* Couleur pour l'icône Laravel */
  &.fa-laravel {
    color: #FF2D20;
  }

  /* Couleur pour l'icône PHP */
  &.fa-php {
    color: #4F5D95;
  }

  /* Couleur pour l'icône GIT */
  &.fa-git {
    color: #F05032;
  }
}
