<div class="sec-skills m-0">
  <div class="sec-skills__showcase">

    <div class="sec-skills__skill-orbit-path sec-skills--skill-orbit-path-rotate">
      <ng-container *ngFor="let skill of 'about.skills' | translate">
        <div [class]="'sec-skills--skill-rotate sec-skills__skill-' + skill.ident">
          <i [class]="'fa-brands fa-8x fa-' + skill.name"></i>
        </div>
      </ng-container>
    </div>

    <div class="sec-skills__skill-title">
      <h2>{{"about.skill.header" | translate}}</h2>
    </div>
  </div>
</div>
