<div class="d-flex justify-content-between p-2 m-2">
  <!-- linksiik -->
  <div class="d-flex text-end links">
    <!--  github  -->
    <a [href]="'links.github' | translate">
      <i class="fa-brands fa-square-github fa-3x"></i>
    </a>
    <!--  linkedin  -->
    <a [href]="'links.linkedin' | translate">
      <i class="fa-brands fa-linkedin fa-3x"></i>
    </a>
  </div>
  <!-- start section -->
  <div class="d-flex flex-column justify-content-center">
    <a href="#" class="p-2 arrow ">
      <i class="fa-solid fa-arrow-up fa-2x"></i>
    </a>
  </div>
  <!-- copyright -->
  <div class="copyright d-flex flex-column justify-content-center text-white">
    <p>
      © 2023 — {{"name" | translate}}.
    </p>
  </div>
</div>
